<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="practice.project.dao.InformMapper" >
  <resultMap id="BaseResultMap" type="practice.project.entity.Inform" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="show_time" property="showTime" jdbcType="TIMESTAMP" />
    <result column="manager_id" property="managerId" jdbcType="CHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="practice.project.entity.Inform" extends="BaseResultMap" >
    <result column="content" property="content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, show_time, manager_id
  </sql>
  <sql id="Blob_Column_List" >
    content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from lms_inform
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from lms_inform
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="practice.project.entity.Inform" >
    insert into lms_inform (id, title, show_time, 
      manager_id, content)
    values (#{id,jdbcType=CHAR}, #{title,jdbcType=VARCHAR}, #{showTime,jdbcType=TIMESTAMP}, 
      #{managerId,jdbcType=CHAR}, #{content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="practice.project.entity.Inform" >
    insert into lms_inform
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="showTime != null" >
        show_time,
      </if>
      <if test="managerId != null" >
        manager_id,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="showTime != null" >
        #{showTime,jdbcType=TIMESTAMP},
      </if>
      <if test="managerId != null" >
        #{managerId,jdbcType=CHAR},
      </if>
      <if test="content != null" >
        #{content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="practice.project.entity.Inform" >
    update lms_inform
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="showTime != null" >
        show_time = #{showTime,jdbcType=TIMESTAMP},
      </if>
      <if test="managerId != null" >
        manager_id = #{managerId,jdbcType=CHAR},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="practice.project.entity.Inform" >
    update lms_inform
    set title = #{title,jdbcType=VARCHAR},
      show_time = #{showTime,jdbcType=TIMESTAMP},
      manager_id = #{managerId,jdbcType=CHAR},
      content = #{content,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="practice.project.entity.Inform" >
    update lms_inform
    set title = #{title,jdbcType=VARCHAR},
      show_time = #{showTime,jdbcType=TIMESTAMP},
      manager_id = #{managerId,jdbcType=CHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
  
  
  
  <select id="selectByCondition" parameterType="practice.project.entity.Inform" resultMap="ResultMapWithBLOBs">
  	select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from lms_inform
     
    <where>
      <if test="title != null" >
        title like #{title}
      </if>
      <if test="showTime != null" >
       and show_time &lt;= #{showTime}
      </if>
      <if test="managerId != null" >
      and  manager_id = #{managerId}
      </if>
    </where>
    order by show_time desc
    
    <if test="pageStart!=null and pageSize!=null ">     
    	limit #{pageStart},#{pageSize}
    </if> 
  </select>
  
  <select id="selectTotalByCondition" parameterType="practice.project.entity.Inform" resultType="java.lang.Integer" >
  	select 
    	count(*)
    from lms_inform
     
    <where>
      <if test="title != null" >
        title like #{title}
      </if>
      <if test="showTime != null" >
       and show_time &lt;= #{showTime}
      </if>
      <if test="managerId != null" >
      and  manager_id = #{managerId}
      </if>
    </where>
    order by show_time desc
  </select>
</mapper>